[Unit]
Description=Brew Application Installation
After=network.target
Wants=network-online.target

[Service]
Restart=on-failure
Type=oneshot
ExecStart=/var/home/linuxbrew/.linuxbrew/bin/brew install $APPLICATIONS
Environment='HOMEBREW_NO_INSTALL_UPGRADE=""'
EnvironmentFile=/usr/share/bluebuild/brew-applications/applications.env

[Install]
WantedBy=multi-user.target
